include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md

recursive-include aix/payloads *.json
recursive-include aix/prompts *.txt
recursive-include aix/playbooks *.yaml

global-exclude *.pyc
global-exclude __pycache__
global-exclude *.so
global-exclude .DS_Store
